body {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}
/*header*/

.header {
	background: url(../images/image2.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	color :white;
}
.nick{
	text-decoration: none;
}
.row{
	position: relative;
	text-align: center;
	left: -15%;
	font-weight: ;
	margin: 0px auto;
	padding-top: 50px;
	margin-bottom: 10px;
}

.header blockquote {
	border-left: none;
	font-size: 20px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

/*skills*/

.skills{
	background: url(../images/image3.jpg) center no-repeat;
	text-align: center;
	height: 100vh;
	position: relative;
	color: white;
}
.skills blockquote{
	border-left: none;
	font-size: 20px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}
.skills h1{
	font-size: 30px;
	text-align: center;
	font-weight: ;
	margin: 0px auto;
	padding-top: 50px;
	margin-bottom: 10px
	
}
.skills h2{
	font-size: 15px;
	margin: 20px auto;
	text-align: center;
}
.skills ul {
	margin: 20px auto;
	margin-bottom: 50px;
	text-align: center;
}
.skills ul li {
	font-family: "sanspro";
	font-size: 18px;
	list-style-type: none;
	padding: 3px 20px;
}
.skills h3 {
	text-align: center;
	font-family: "brocs";
	font-size: 30px;
}

/*works*/

.works{
	background: url(../images/image1.jpg) center no-repeat;
	text-align: center;
	position: relative;
	height:100vh;
	color: black;
}
.works h1{
	font-size: 30px;
	text-align: center;
	font-weight: ;
	margin: 0px auto;
	padding-top: 50px;
	margin-bottom: 10px
}
/*contacts*/

.contacts{
	background: url(../images/image5.jpg) center no-repeat;
	height: 75vh;
	text-align: center;
	position: relative;
	color: white;
}
.contacts .col-md-4{
	margin: 30px auto;
}
.cotacts h1{
	margin: 0px auto;
	padding-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}
.contacts a {
	text-decoration: none;
	color: #FE904E;
	text-shadow: 1px 1px #F5F5F5;
	cursor: pointer;
}

.contacts img{
	margin-bottom: 20px;
	text-decoration: center;
}

.autor {
	font-size: 16px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}
