@font-face {
	src: url("../fonts/sanspro-reg.ttf");
	font-family: "sanspro";
}
@font-face {
	src: url("../fonts/sanspro-reg.oet");
	font-family: "sanspro";
}
@font-face {
	src: url("../fonts/sanspro-reg.woff");
	font-family: "sanspro";
}