body {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}
/* Header*/
.header{
	background: yellowgreen;
	position: relative;
	height: 100vh;
}
.header h1{
	text-align: center;
}
/* Footer*/
.footer{
	position: absolute;
	top: 625px;
	left: 550px;
}