body {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}
/* Header*/
.header{
	background: url(../images/image1.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.header h1{
	position: absolute;
	left: 10px;
	font-size: 40px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	text-align: center;
}
.header h1{

}
.menu{
	position: absolute;
	top: 30px;
	right: 10px;
}

/* content*/

.content{
	background: url(../images/image3.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 105vh;
	position: relative;
	text-align: center;
	color: white;
}
.conteiner{
	position: absolute;
	left: 70px;
	top: 10px;
	
}
.content h1,h2{
	font-family: Arial;
}
.col-xs-4 img{
	margin: 20px auto;
	margin-bottom: 50px;
	text-align: center;
}
.col-xs-4 p{
	font-family: Arial;
	font-size: 18px;
	list-style-type: none;
	padding: 3px 20px;
}
/* footer*/

.footer{
	background: cornflowerblue	;
	font-family: Arial;
	text-align: center;
}
